body {
    background: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

header {
    background: #707F99;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    /*Pseudoclase*/
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #83C5BE;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #FFFFFF;
    background-color: #006D77;
    font-weight: 700;
}

.logo {
    position: absolute;
}


/* main contenido principal */

main {
    width: 100%;
}

.portada {
    margin: auto;
    padding: auto;
}

.portada img {
    /* hace que la imagen se posicione como flotante dependiendo del  lado*/
    float: right;
    opacity: 0.6;
    max-width: 60%;
    border-radius: 20px;
}

.titulo {
    display: block;
}

h2 {
    margin: 25px 0 0 25px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #83C5BE;
}


/*.portada {
    margin: 25px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.portada img {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
*/

figcaption {
    padding: 4px;
}

figure {
    margin: 0;
}

.item:hover {
    box-shadow: 0 0 50px #333;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */

.responsive li {
    display: block;
}


/* Media Query for medium + screens */

@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: #000;
    }
}

.introduccion {
    margin: 2%;
    display: block;
}

.introduccion p {
    text-align: left;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.explicacion h2 {
    margin: 25px 0 0 25px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #83C5BE;
}

.explicacion img {
    float: left;
    opacity: 0.6;
    max-width: 60%;
    border-radius: 10px;
}

.explicacion p {
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
}

aside {
    background: #000;
    width: 100%;
    float: right;
    line-height: 25px;
}

.contSe h3 {
    /*margin: 25px 0 0 25px;*/
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #005f73;
}

.enlaces {
    list-style: none;
    padding: 15px;
}

.enlaces li a {
    text-decoration: none;
    padding: 15px;
    color: #e9d8a6;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.enlaces li a:hover {
    background: #ee9b00;
    color: #000;
}

@media screen and (max-width:700px) {
    body {
        font-size: 14px;
        background: #000;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    aside {
        display: none;
    }
}

footer {
    text-align: center;
}

.piePagina {
    color: #FFFFFF;
}

.icono {
    float: left;
}