body {
    background: #22223B;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

header {
    background: #ffe5d9;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    /*Pseudoclase*/
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #83C5BE;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #FFFFFF;
    background-color: #006D77;
    font-weight: 700;
}

figcaption {
    padding: 4px;
}

figure {
    margin: 0;
}

.item:hover {
    box-shadow: 0 0 50px #333;
}

.responsive li {
    display: block;
}


/* Media Query for medium + screens */

@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: #000;
    }
}

h2 {
    color: #f3722c;
    font-size: 2em;
    text-align: center;
}

p {
    color: #FFFFFF;
    text-align: justify;
}

.factorial {
    margin: 2%;
    width: 60%;
    padding: 2%;
    background: #b56576;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.num {
    margin: 1%;
    padding: 1%;
    width: 25%;
}

.resultado {
    margin: 1%;
    padding: 1%;
    width: 60%;
}

.btn {
    margin: 1%;
    width: 30%;
    color: #a01a58;
}